---
title: Accepts-All & Indeterminate Results, Explained.
header: Accepts-All & Indeterminate Results, Explained.
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
 <p>Once you've linked an account, or uploaded an email list, you'll be able to access an Always Free Email Assurance Report for every list in your account. This report will provide you with the Email Assurance Grades and the number of emails that fall into each grade category. You will be provided the following grades:</p><p><strong>Email Assurance Grades</strong><strong>:</strong></p><p><strong>A+</strong> Deliverable + Engagement Activity:The emails given a grade of A+ have been determined to be deliverable. They also have engagement history concerning email clicks and opens. These addresses are always safe to send to!</p><p><strong>A</strong> Deliverable:The emails given a grade of A have been determined to be deliverable. These addresses are also safe to send to.</p><p><strong>B</strong> Accepts All:These emails have been deemed as "Accepts-All" -Server accepts all email means that the hostname has been set to accept any mail and the email address in question may be a spam trap.</p><p><strong>D</strong>Indeterminate:In checking for an email, we were not able to do anything. The email address seems to have a mail server that is running and accepting connections, but we are unable to connect.We do not recommend sending to the "Indeterminate" category. All emails with a grade of D should be segmentedoff your list.</p><p><strong>F</strong> Undeliverable:The emails given a grade of F have been deemed as undeliverable and are therefore, invalid. These emails are unsafe to send to! These addresses should always be unsubscribed from your email database.</p><p><strong>Accepts-All Results (B)</strong></p><p>"Accept-All" emails addressesare commonly seen in businesses and in many cases, the server will accept all mail and then bounce it back to sender, which in turn hurts the sender's IP Reputation.We do not recommend immediately sending to the "Accepts-All" category. All emails with a grade of B should be segmented (until later confirmed valid). More details here:</p><ul><li>Server accepts all email means that the hostname (@hostname.) has been set to accept any email@hostname.com. This could also mean the email address in question is a spam trap. We usually don't trust emails if they accept all mail.</li><li>This is commonly seen in business email addresses. What this means, is that a domain, or hostname, has been set to receive emails to any email@hostname.com. For example, if email@datavalidation.com doesn't exist, the server for DataValidation will still accept the email.</li><li>In many cases, the server will accept all mail and then bounce it back to sender, which in turn hurts the sender's IP Reputation.</li></ul><p>We recommend creatinga segment within your list named "Accepts-All" and attempt sending this group a re-engagement campaign. If you can confirm that the addresses are "valid" and deliverable, trytrickling them back into your list, so it does not affect your lists' deliverability.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/200879139-How-do-I-segment-a-list-in-my-MailChimp-account-" target="_blank">How do I segment results in MailChimp?</a></p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201141948-How-do-I-segment-maybe-emails-in-a-CSV-" target="_blank">How do I segment a CSV?</a></p><p><strong>Indeterminate Results (D)</strong></p><p>"Indeterminate" results are unknown and therefore, can be validated. Unknown results can happen for a few reasons:</p><ul><li>The email address seems to have a mail server that is running and accepting connections, but we are unable to connect. This isunreliable dataand usually comes from an ISP that doesn't allow validation checks. There is also a chance that an unknown email can be a spam trap.</li><li>We could not connect to the email server (it is ambiguous) and during the validation process, the email server (@hostname.) was unavailable or temporarily down. We could not verify or negate the status of the email address.Being unable to connect to an email server can mean that the server does not exist, or that it is busy.</li></ul><p>We recommend creatinga segment within your list named "Indeterminate" andNOTsending to this segment.These email addresses cannot be determined valid are dangerous to send to!</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201588233" target="_blank">I have a lot of 'Accept-All' and 'Indeterminate' results, what should I do?</a></p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
