---
title: Am I in danger of being blocked?
header: Am I in danger of being blocked?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>There's nothing worse than being blocked from sending email right before a campaign deployment. To avoid the stress of late delivery, or no delivery at all, we recommmend that you stay proactive in making sure your email is always deliverable. <strong>But how do you know if you're in danger of blocked?</strong></p><ul><li><strong>High bounce rates</strong>: Are many of your emails being returned to you after deploying them? You'll want to keep your bounce rate as low as possible to ensure email deliverability. This means, keeping your list clean of emails that have returned to you.</li><li><strong>Damaged IP Reputation</strong>:A sender's IP Reputation is the main factor in determining whether you can send email or not. Think of your reputation as a credit score for your email program.</li><li><strong>New list data</strong>: If you've recently added new emails to your existing list, there's always a chance that some of them could be bad. Making sure emails are valid as soon as they enter your list will keep you compliance. </li><li><strong>New campaign deployment</strong>: We always recommend having a list cleaned before deploying a campaign to any new list, especially if the list is large in size. Also, if your list is older, there's a good chance the emails on it are old too.</li><li><strong>Declining list quality</strong>: If you're noticing more and more bounces, or have received new emails from various sources, it's possible that your list quality is gradually declining.</li><li><strong>Warming up an IP</strong>: Warming up an IP Address is a gradual process. If you're new to sending email, you'll want to keep the amount of email you send gradual as well. Volume is a very telling factor in email compliance; and making sure you deliver to clean addresses makes the warm up process much smoother.</li></ul><p>When you link an ESP account, or upload a list to DataValidation, we'll process your email list(s) and provide you with a Free EmailAssurance Report. This report will give you an address by address analysis, allowing you to make informed decisions about your data.</p><p>Ready to get started? <a href="https://my.datavalidation.com/" target="_blank">Sign up for free!</a></p><p>Once your list is processed, you'll be access to access your report.Information on the EmailAssurance Report can be found here:</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201572353" target="_blank">What do the codes mean in my EmailAssurance Report?</a></p><p>Advanced: Using the Email Assurance Codes &lt;--</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201188926-What-is-a-SMPT-Check-" target="_blank">What is a SMTP Check?</a></p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
