---
title: DataValidation FAQ
header: DataValidation FAQ
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p><strong>FAQs on DataValidation Pricing, Email Validation, Email Assurance, and the Always Free Email Assurance Report.</strong></p><p><strong>Do I have to sign up with a credit card?</strong></p><p>No, you do not need to use a credit card when signing up for DataValidation. Signup, load a list or link your MailChimp account, and receive an Always Free Email Assurance Report -no credit card required.</p><p><strong>Do I need to pay before validating my data?</strong></p><p>No, you do not need to pay before having an email list validated. Upload a list or link an ESP, have your list validated, and view your Always Free Email Assurance Reportbefore you buy!</p><p><strong>How do I know how much my list will cost?</strong></p><p>Email lists are priced on a per email basis. You can easily calculate the cost of your list using our pricing page before you purchase.</p><p><strong>Is there a minimum price I have to spend?</strong></p><p>No, there is no minimum price you must spend (or number of emails you must have) to validate with DataValidation. Although, some credit card companies do require a minimum of $0.50 to purchase.</p><p><strong>Are there requirements my list must have?</strong></p><p>There are no requirements on the size of your list. Upload a list of any size, from anywhere, at anytime! We do require that uploaded files be in a .csv or .xls file, and that all emails be in the first column with no additional data in this column.</p><p><strong>How long does it take to validate my email list?</strong></p><p>The time it takes to validate your list is based on the number of emails you have in this list. Generally, it takes only a couple of hours to validate!</p><p><strong>How do I use your service?</strong></p><p>By creating an account, you can simply upload a list to be validated or link your MailChimp account and have your list(s) imported. After validation, view your Always Free Email Assurance Report to make an informed purchase decision. You'll have the option of purchasing Email Validation for your email list or Email Assurance for a linked account.</p><p><strong>How is my Email Assurance Report "always free"?</strong></p><p>With DataValidation, you can upload a list at any time and get an Always Free Email Assurance Report. This report is always available for your viewing -no purchase necessary! Upload as many lists as you need to check the deliverability status by using your Always Free Email Assurance Report. It's always free to know.</p><p><strong>What kind of information does the Email Assurance Report tell me?</strong></p><p>Your Always Free Email Assurance Report tells you if emails on your list are deliverable or undeliverable by providing you with Email Assurance Grades for the emails on your list. Purchase your list to get an Address-by-Address Analysis containing Deliverability Codes for each email. Codes are provided for historical bounces, historical complaints, historical opt-outs, spam traps, deceased individuals, historical opens and click data.</p><p><strong>Do you offer a subscription service?</strong></p><p>Yes! By linking yourMailChimp account, have all of the lists in this account validated and they'll be eligible for the Email Assurance subscription. This subscription monitors every list in your linked account to ensure compliance and deliverability. More on Email Assurance<a href="https://datavalidation.zendesk.com/hc/en-us/articles/201636296" target="_blank">here</a>!</p><p><strong>What is the difference in one-time Email Validation and the Email Assurance subscription?</strong></p><p>By uploading an email list or linking an account, you can have any list cleaned as a one-time service. If you've linked an account, you can also have a list cleaned one time, but you also have the option of signing up for the ongoing, monitoring subscription. With this subscription, all lists are validated and are updated daily.</p><p><strong>Why should I validate with DataValidation?</strong></p><p>With our self-service platform, you can easily upload lists of any size and link an ESP account with ease. The validation process is fast, comprehensive, and provides you with an Always Free Email Assurance Report to help you make an informed purchase decision. Automatically update your cleaned list with our monitoring subscription for ongoing list maintenance! </p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
