---
title: How do Spam Traps affect Email Assurance Grades?
header: How do Spam Traps affect Email Assurance Grades?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>Our Always Free Email Assurance Reportwillprovide you with Email Assurance Grades and show you how many of your emails fall in each category. Your Free Email Assurance Report will provide you with the following grades:</p><p><strong>Email Assurance Grades:</strong></p><p><strong>A+</strong>Deliverable + Engagement Activity:The emails given a grade of A+ have been determined to be deliverable. They also have engagement history concerning email clicks and opens. These addresses are always safe to send to!</p><p><strong>A</strong> Deliverable:The emails given a grade of A have been determined to be deliverable. These addresses are also safe to send to.</p><p><strong>B</strong> Accepts-all:These emails have been deemed as "Accepts-All" -Server accepts all email means that the hostname has been set to accept any mail and the email address in question may be a spam trap.This is commonly seen in business email addresses and in many cases, the server will accept all mail and then bounce it back to sender, which in turn hurts the sender's IP Reputation.We do not recommend sending to the "Accepts-All" category. All emails with a grade of B should be segmented (until later confirmed valid).</p><p><strong>D</strong>Indeterminate:In checking for an email, we were not able to do anything. The email address seems to have a mail server that is running and accepting connections, but we are unable to connect.We do not recommend sending to the "Indeterminate" category. All emails with a grade of D should be segmentedoff your list.</p><p><strong>F</strong> Undeliverable:The emails given a grade of F have been deemed as undeliverable and are therefore, invalid. These emails are unsafe to send to! These addresses should always be unsubscribed from your email database.</p><p>With your Address-by-Address Analysis, you can dive deep into your email list to see exactly which emails have which grade, and why they were given that grade. Each address is also provided with <strong>Deliverability Codes</strong> that determine which grade they are given.</p><p><strong>How do Spam Traps affect my Email Assurance Grades?</strong></p><p>Spam Trap data is given a Deliverability Code of T1 or T4 for each email in your Address-by-Address Analysis.</p><p><strong>We no longer include Spam Trap data in determining our Email Assurance Grades (A+, A, B, D, F). This information changes frequently and we cannot guarantee every instance to be accurate.</strong></p><p>This information will still be provided for each email in your Address-by-Address Analysis and can used for segmenting your list.A code of T1 determines which emails on your list (that were once deliverable and safe to send to) also have the potential of turning into a spam trap if left inactive for long periods of time. When an email address is set up for the sole purpose of detecting and catching spammers, it's usually not connected to a "real" inbox and is considered a spam trap.</p><p>A code of T1 or T4 specifies an emails' spam-trap information:</p><ul><li><strong>T4</strong>: We HaveNoHistorical Trap Info - This email address has no history as being a spam trap. This is not a guarantee that an email isn't a spam trap, only a historical data point.</li><li><strong>T1</strong>:Historical Spam Trap Info - This email address has been listed as a spam trap. It is possible that it may no longer be a spam trap.</li></ul><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
