---
title: How do I upload results back to my MailChimp account?
header: How do I upload results back to my MailChimp account?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- Email Assurance 
-
labels:
- Beta
- 
- 
- 
abstract: |
  

---
<p>After linking your MailChimp account, we'll let you know when your list(s) are ready and available for purchase! You'll receive a Free Email Assurance Report with each list uploaded.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_FreeReport1.png"></p><p>After purchasing your list, the <strong>"Purchase EmailValidation"</strong> button will turn into a <strong>"Get Results"</strong> button. Here is where you'll have the option to <strong>"Upload Results"</strong> or download various versions of your cleaned list.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_UploadResults.png"></p><p>By clicking the <strong>"Upload Results"</strong> button, you're telling DataValidation to update your email list information in your MailChimp account.</p><p><strong>Watch the Video:</strong></p><p><iframe src="https://player.vimeo.com/video/96595373500281" frameborder="0" allowfullscreen=""></iframe></p><p><strong><a href="https://datavalidation.zendesk.com/hc/en-us/articles/202710798" target="_blank">What's Included in My Uploaded MailChimp Results? [VIDEO]</a></strong></p><p>Once you've uploaded results, you'll want to segment your list! Create segments for emails in the Safe to Send, Accepts-All, and Indeterminate categories.</p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
