---
title: How do I send to my 'Safe to Send' contacts only?
header: How do I send to my 'Safe to Send' contacts only?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- Constant Contact
- Email Assurance 
- FAQ
labels:
- Beta
- Contacts
- Safe to Send
- Tags
abstract: |
  

---
<p>Once your Constant Contact account has been linked and your lists have completed the First Validation, your purchased lists will begin to sync back to your Constant Contact account.</p><p><strong>Check the Status of a List:</strong></p><p>Access the Contacts tab on the top right of your dashboard, and then click on the Activity tab. Here is where you can see recent imports, exports, and other transactions (such as those from DataValidation). When a list is synced back to your account, it will be listed as Activity Type: Import from external application.</p><p><strong><strong><img src="http://cdn.datavalidation.com/200937129/CC_Activity_Sync_1.png"><br><br></strong></strong></p><p>Once your list has been synced back, you'll need to create Tags for Contacts. These Tags will be used to manage the contacts within your Email Lists. You must create Tags for all Safe to Send', Accepts All', and Indeterminate' Contacts. Those given a grade of F can still be found by clicking View All Contacts, but will no longer be listed in the original Email List.</p><p>DataValidation applies Email Assurance Grades (A+, A, B, F) to your Contacts by using Custom Fields. By default, DataValidation populates Custom Field 1 for grades (unless this field has already been used for additional information on your Contacts - In this case, access settings to determine which Custom Field was available).</p><p><strong>Create a Tag: </strong></p><p>To add Tags to a group of people (rather than individual contacts) you must be create them by searching all Contacts, filtering, and applying the Tag to your filtered results. Make sure you are under the Contacts tab on the left hand side of your Constant Contact dashboard and access the Advanced section on Search Contacts.</p><p><img src="http://cdn.datavalidation.com/200937169/CC_Contacts_AdvanceSearch.png"></p><p>The following tags will need to be created:</p><p>Safe to Send: A+ and A grades</p><p>Accepts All: B grades</p><p>Indeterminate: D grades</p><p>Advanced Searches will use the format custom_field_1 1 [is] +dv_grade_A+. To create a Safe to Send' group, Advance Search your Contacts for all A+ and A results, and add the Safe to Send' Tag to all Contacts who meet this criteria.</p><p><img src="http://cdn.datavalidation.com/200937189/CC_Contacts_AdvanceSearch_2.png"></p><p>Once your search is complete, click the top left box to select all Contacts that meet the criteria and access the Manage Tags tab. Apply the Tag to this group of people. Your Safe to Send' group is now set up and ready to receive mail.</p><p>You'll need to do the exact same thing to create Accepts All' and Indeterminate' Tags, and apply them to all Contacts that meet the criteria.</p><p><strong>Send to the Safe to Send' Contacts Only:</strong></p><p>To send to the Safe to Send' Contacts only, you'll need to narrow down lists when deploying a campaign. Under the Email tab on the top left of your dashboard, you'll be to create a new campaign, or access one already created. Once you're ready to send, select one (or multiple) lists to deploy your campaign to.</p><p>*This is very important: You must select all Email Lists you wish to send to before narrowing them down. If not, your tag will only apply to the lists selected before the Tag was applied. </p><p>After your Email list(s) have been selected, apply the Tag Safe to Send' to your list. Your campaign will be deployed to only the Safe to Send' Contacts within your list.</p><p><strong><strong><img src="http://cdn.datavalidation.com/200937199/CC_SendEmail_SafetoSend.png"></strong></strong></p><p></p>
