---
title: How are emails validated?
header: How are emails validated?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p><strong>Email Validation</strong>is DataValidation's one-time cleaning service, providing you with an Address-by-Address Analysis determining the deliverability of emails on your list. Have your list cleaned with Email Validation and get back to sending email quickly! If you want to make sure your list is protected 24/7, consider ongoing list maintenance with<a href="https://datavalidation.zendesk.com/hc/en-us/articles/201188886-What-is-Email-Assurance-">Email Assurance</a>.</p><p>Once your list has been validated, you can view your Free Email Assurance Report. This reporting gives you insight into the why the addresses on your list have come back as deliverable or not.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/sections/200317538-Email-Assurance-Report-List-Results">Email Assurance Report &amp; List Results</a></p><p>Upload results directly to your linked MailChimp or Constant Contact account, or download versions of your list such asthe 'Safe to Send' List and the 'Everything' List.</p><p>We perform several checks and verifications to determine whether an email address is valid or invalid.</p><p>To find out if an email is valid, we do aDNS verification and MX lookup, conduct anSMTP check, access our internal databases, and use proprietary algorithms.</p><p><img src="http://cdn.datavalidation.com/AddressbyAddress2.png"></p><p><strong>In validation we ask certain questions like the ones below:</strong></p><p>Does the email address...</p><ul><li>contain the necessary elements to be an email address, like an @ and correct punctuation for hostname?have a valid hostname (johndoe@hostname.com)?</li><li>have a verifiable DNS and valid email server?</li><li>contain a valid local part (ie. localpart@hostname.com)?</li><li>contain less than 254 characters?</li><li>have a mailbox that can be reached?</li><li>belong to a server that accepts all email?</li></ul><p><strong>We then perform additional deliverability and compliance checks to find:</strong></p><p><strong>All of the information we receive in address-by-address analysis is what determines whether an address is deliverable or not. This is how we return to you Email Assurance Grades off 'A+', 'A', 'B', 'D' or 'F'.</strong></p><p>**Please Note: We no longer include spam trap data and information on deceased individuals in determining our Email Assurance Grades (A+, A, B, D, F) - This information changes frequently and we cannot guarantee every instance to be accurate.This information will still be provided for each email in your Address-by-Address Analysis and can used for segmenting your list.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201572353" target="_blank">What do the codes in my Email Assurance Report mean?</a></p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
