---
title: How do I create custom Tags in Constant Contact?
header: How do I create custom Tags in Constant Contact?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- Constant Contact
- Email Assurance 
- 
labels:
- Beta
- Custom fields
- Safe to Send
- Tags
- Contacts
abstract: |
  

---
<p><strong>Create a Tag: </strong></p><p>To add Tags to a group of people (rather than individual contacts) you must be create them by searching all Contacts, filtering, and applying the Tag to your filtered results. Make sure you are under the Contacts tab on the left hand side of your Constant Contact dashboard and access the Advanced section on Search Contacts.</p><p><strong><strong><img src="http://cdn.datavalidation.com/200989155/CC_Contacts_AdvanceSearch.png"><br><br></strong></strong></p><p>The following tags will need to be created:</p><p>Safe to Send: A+ and A grades</p><p>Accepts All: B grades</p><p>Indeterminate: D grades</p><p>Advanced Searches will use the format custom_field_1 1 [is] +dv_grade_A+. To create a Safe to Send' group, Advance Search your Contacts for all A+ and A results, and add the Safe to Send' Tag to all Contacts who meet this criteria.</p><p><strong><strong><img src="http://cdn.datavalidation.com/200937099/CC_Contacts_AdvanceSearch_2.png"><br><br></strong></strong></p><p>Once your search is complete, click the top left box to select all Contacts that meet the criteria and access the Manage Tags tab. Apply the Tag to this group of people. Your Safe to Send' group is now set up and ready to receive mail.</p><p><strong>You'll need to do the exact same thing to create Accepts All' and Indeterminate' Tags, and apply them to all Contacts that meet the criteria. </strong></p>
