---
title: How do I send only to 'Safe to Send' addresses? 
header: How do I send only to 'Safe to Send' addresses? 
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- MailChimp
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>After results are updated inyour MailChimp account and creating segments for 'Safe to Send', 'Indeterminate', and 'Accepts All' categories, you can send campaigns to your subscribers based on these categories.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/203529525" target="_blank">How do I create segments in MailChimp?</a></p><p><strong>**We do not recommend</strong>sending to the 'Accepts-All' segment. We recommend thatyou attempt a re-engagement campaign to emails with an Email Assurance Grade of B, and if any addresses in your 'Accepts-All' category are determined to be valid, you can then trickle them back into your 'Safe to Send' list very slowly!</p><p><strong>**We do not recommend</strong>sending to the 'Indeterminate' segmentever. You should create a segment for all emails with an Email Assurance Grade of D - but you<strong>should not deploy to them</strong>. The reasoning is, we do not want to unsubscribe these from your list so that Email Assurance can re-run them on an ongoing basis BUT we do not want for you to send to them. If later determined to be valid addresses, they will get new Email Assurance Grades and will be appended to the updated segment within your MailChimpaccount. </p><p>To deploy a campaign to the 'Safe to Send' segment, go to the Campaigns tab on the left-hand side of your MailChimp Dashboard. Here you can create a new campaign, or replicate an old one, and send to an entire list or a segment. "Send to a Saved Segment" to send only to the 'Safe to Send' list.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_STS.png"></p><p></p>
