---
title: How do I check the status of a list in my account?
header: How do I check the status of a list in my account?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- Email Assurance 
-
labels:
- Beta
- 
- 
- 
abstract: |
  

---
<p><strong>Check the Status of a List:</strong></p><p>Access the Contacts tab on the top right of your dashboard, and then click on the Activity tab. Here is where you can see recent imports, exports, and other transactions (such as those from DataValidation). When a list is synced back to your account, it will be listed as Activity Type: Import from external application.</p><p><img src="http://cdn.datavalidation.com/200989105/CC_Activity_Sync_1.png"></p><p>Once your list has been synced back, you'll need to create Tags for Contacts. These Tags will be used to manage the contacts within your Email Lists. You must create Tags for all Safe to Send', Accepts All', and Indeterminate' Contacts. Those given a grade of F can still be found by clicking View All Contacts, but will no longer be listed in the original Email List.</p><p>DataValidation applies Email Assurance Grades (A+, A, B, F) to your Contacts by using Custom Fields. By default, DataValidation populates Custom Field 1 for grades (unless this field has already been used for additional information on your Contacts - In this case, access settings to determine which Custom Field was available).</p><p></p>
