---
title: How do I create segments in MailChimp?
header: How do I create segments in MailChimp?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- MailChimp
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>When lists are validated and uploaded directly to MailChimp, they contain all emails from your Free Email Assurance Report (with grades of A+, A, B, and D). Emails given a grade of F are undeliverable, and therefore invalid, so they are unsubscribed from your MailChimp list.Our recommendation is that you log in to MailChimpaccount and create segments for 'Safe to Send' emails, 'Accepts-All' emails, and 'Indeterminate' emails.</p><p><strong>We do not recommend</strong>sending to the 'Accepts-All' segmentright away - but you can attempt a re-engagement campaign to emails with an Email Assurance Grade of B, and if any addresses in your 'Accepts-All' category are determined to be valid, you can then trickle them back into your 'Safe to Send' list very slowly!</p><p><strong>We do not recommend</strong>sending to the 'Indeterminate' segmentever. You should create a segment for all emails with an Email Assurance Grade of D - but you<strong>should not deploy to them</strong>. The reasoning is, we do not want to unsubscribe these from your list so that Email Assurance can re-run them on an ongoing basis BUT we do not want for you to send to them. If later determined to be valid addresses, they will get new Email Assurance Grades and will be appended to the updated segment within your MailChimp account. </p><p><strong>Create a segment for 'Safe to Send' emails</strong></p><p>This list is always safe to send to! You can start deploying email right away with the 'Safe to Send' list. When Email Assurance runs, we will consistently update this segment for you.</p><p><img src="http://cdn.datavalidation.com/KB.MailChimp.SegmentNew.png"></p><p><strong>Set segment conditions and save</strong></p><p>Setconditions for this list to be:</p><p>1. grade is A+ and...</p><p>2. grade is A</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_SaveSegment.png"></p><p>You can see how many people within your list fit into this category. Save your segment as something you will remember for later!</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_SaveSegment2.png"></p><p><strong>Create a segment for 'Accepts - All' emails (Grade = B)</strong></p><p>This list is not safe to send to!Create a segment for the emails within your list that have an Email Assurance Grade of B - Deploy a re-engagement campaign to these emails ONLY and if they are determined to be valid and deliverable addresses, you can then trickle them into your listslowly.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_SaveSegment_AcceptAll.png"></p><p><strong>Create a segment for 'Indeterminate' emails (Grade = D)</strong></p><p>This list isneversafe to send to! Create a segment for for emails within your list that have an Email Assurance grade of D - Do not deploy email to this segment! We will auto-update this segment as Email Assurance runs, and any addresses determined to be valid will be moved to the updated segment.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_SaveSegment_Indeterminate%20.png"></p><p><strong>Start sending mail! Deploy a campaign for 'Safe to Send' emails only</strong></p><p>Send a test email to this segment ONLY to test the deliverability of maybe emails.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_Deploy.png"></p><p>From MailChimp:<a href="http://kb.mailchimp.com/article/can-i-save-a-segment-of-my-list-in-the-list-area/" target="_blank">How can I save and use segments in my list?</a></p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
