---
title: How can I cancel my Email Assurance Subscription?
header: How can I cancel my Email Assurance Subscription?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>If you've decided you no longer want to have your MailChimp account monitored and updated daily by DataValidation, you can cancel Email Assurance at any time!</p><p>You can do this on your Preferences Page at <a href="https://my.datavalidation.com/a/" target="_blank">https://my.datavalidation.com/a/</a>.Simply click "Cancel Assurance Plan" and this will remove you from your Email Assurance subscription. You can also delete any saved credit card information from your account, to insure no billing.</p><p>Keep in mind, you'll still have your account with DataValidation when you're ready to come back. You can easily upload a list or link another account at any time to receive a Free Email Assurance Report.</p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
