---
title: How do I know my MailChimp account has been updated?
header: How do I know my MailChimp account has been updated?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- MailChimp
- Email Assurance
-
labels:
- Beta
- 
-
-
abstract: |
  

---
<p>After purchasing a list, your data will automatically begin to sync back to your MailChimp account.</p><p>To see if your accounthas been updated, login to your MailChimp account and access the dashboard. View all of your email lists by clicking on the <strong>Lists</strong> tab on the left-side of the dashboard. Here you can view each list within your account.</p><p>Click onone of the list cleaned by DataValidation to seean Email Assurance Grade and the date Last Changed.</p><p><img src="http://cdn.datavalidation.com/KB_LastChanged.png"></p><p><strong>What about for the Email Assurance Subscription?</strong></p><p>If you have the Email Assurance subscription, all new data will be analyzed daily and all existing data will be analyzed weekly. This data will be automatically updated in your MailChimp account. Check the date Last Changed to see when the last Email Assurance run occurred.</p><p></p>
