---
title: How do I segment 'Accepts-All' emails in a CSV?
header: How do I segment 'Accepts-All' emails in a CSV?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>Once your list is complete, you have the option of downloading a Yes Only, Yes + Maybe, or Everything List. These are all .csv versions of your list.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_DownloadableLists.png"></p><p>With these options you are given a brief description for each and advised on what to do with your results.</p><p><img src="http://cdn.datavalidation.com/DV_NewCodes_WhatDoIDo.png"></p><p>We strongly recommend sending ONLY to the'<strong>Safe to Send</strong>'list. You can attempt sending a re-engagement campaign to the '<strong>Accepts-All</strong>' category, but we recommend doing this by segmenting your downloadable CSV (the Everything list) so that you can send to this group ONLY. Do not send to the 'Indeterminate' category ever (those with a grade of D).</p><p>Below is a snapshot of a downloaded 'Everything' list (.csv) :</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_CSV.png"></p><p><strong>To sort the 'Accepts-All' category:</strong></p><p>To filter only the emails with an Email Assurance Grade of B, access the column for "grade" and filter the table by B.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_FilterCSV.png"></p><p>Once you have filtered your results by the 'Accept-All' grade only, your list should look similar to this one (with only the grade 'B' displayed in the grade row).</p><p>(Keep in mind that this list has many rows and actually extends much further than in this caption.)</p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
