---
title: How do I reset my password?
header: How do I reset my password?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p><strong>Having trouble logging in?</strong></p><p>If you've forgotten your password, you can access the Log In button on the top right of DataValidation's homepage and click on "Forgot your password?". Here, you'll be prompted to enter your email. Be sure to enter the email you signed up with.</p><p>Check your inbox for an email from us. It will contain a link for you to reset your password!</p><p><strong>Just want to change your password?</strong></p><p>If you're logged into your DataValidation account and simply want to change your password, you can do this by accessing your Preferences page. Provide us with your current password and new password, and click on "Update Password".</p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
