---
title: How do I add or edit merge fields within my list?
header: How do I add or edit merge fields within my list?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>When you upload a list directly to MailChimp,we attempt to create custom merge fields using the detailed information from our service.</p><p>These fields are information about subscribers stored in list fields. They can be edited through MailChimp's form builder, or directly through the list database.</p><p><img src="http://cdn.datavalidation.com/KB.MailChimpUpload.Merge.png"></p><p><a href="http://kb.mailchimp.com/article/how-do-i-add-more-fields-to-my-list" target="_blank">How do I add or edit merge fields in a MailChimp list?</a></p><p>For our customers who already use a large number of merge fields, this may not be possible. MailChimp limits users to 30 of these merge fields, so if you want the detailed information from your Email Assurance Report, you'll need to download this separately.To prevent this from happening, clean out your merge fields to make room for the extra data.</p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
