---
title: "How Your Email Service Provider Protects Deliverability"
header: "How Your Email Service Provider Protects Deliverability"
meta-image: http://cdn.datavalidation.com/how-esps-maintain-deliverability_14036204887_e3163cd4ea_o.png
meta-type: blog
meta-description: What separates a great email service provider from a mediocre one? Getting more email messages in the inbox. An ESP protects deliverability for its customers by vetting new marketers prior to onboarding and enforcing strict guidelines around sending email and maintaining email lists.
posted: 2014-11-5
blog-entry: true
image: "http://cdn.datavalidation.com/how-esps-maintain-deliverability_14036204887_e3163cd4ea_o.png"
author: Ashley Hinds 
categories:
- ESP
- API
labels:
- Deliverability
- Email Assurance
- Whitepaper
- Email Service Provider
abstract: |
  What separates a great email service provider from a mediocre one? Getting more email messages in the inbox. ESPs do this by providing excellent deliverability for email marketers. An ESP protects deliverability for its customers by vetting new marketers prior to onboarding and enforcing strict guidelines around sending email and maintaining email lists.

  Deliverability is an ESP's livelihood, but keeping users in compliance can cause friction in the ESP/email marketer relationship. Often times, friction begins when the marketer is onboarded to a new ESP, and can continue throughout the entire lifecycle of the email marketer. 

-----------

<p>What separates a great email service provider from a mediocre one? Getting more email messages in the inbox.</p>
<p>
<p>Email service providers (ESPs) do this by providing excellent deliverability for email marketers. An ESP protects deliverability for its customers by vetting new marketers prior to onboarding and enforcing strict guidelines around sending email and maintaining email lists. ESPs comprise different levels of compliance thresholds for bounces and complaints, and suspend email marketers from sending when those thresholds are exceeded. Deliverability is an ESP's livelihood, but keeping users in compliance can cause friction in the ESP/email marketer relationship. Often times, friction begins when the marketer is onboarded to a new ESP, and can continue throughout the entire lifecycle of the email marketer.</p> 
<p>
<p>The nature of the process used to onboard marketers sets the tone for the type of relationship an ESP will likely have with its customers. If a low-touch onboarding process is used, the ESP provides very little hand-holding, trusting that the marketer has followed email best practices for list growth and maintenance. Marketers must confirm that lists are permission-based and abide by all email regulations. When using this process, ESPs instill a significant amount of trust in the email marketer. Low-touch onboarding leaves room for reputation-damaging activity by the email marketer, causing lower deliverability for the ESP. </p>
<p>
	<blockquote><i>Often times, friction begins when the marketer is onboarded to a new ESP, and can continue throughout the entire lifecycle of the email marketer.</i></blockquote>
<p>In a high-touch onboarding process, deliverability teams provide more of a consultative approach. In addition to the steps taken during a low-touch process, one or more email lists are spot-checked for invalid addresses in an attempt to pin-point lists that may cause deliverability issues. If the data on a marketer’s lists meets compliance guidelines, the lists are accepted. This consultative process is ineffective because it lacks a sufficient amount of data to make informed decisions. A high-touch onboarding process is costly and time-consuming for both the ESP and the email marketer, adding friction to the relationship. When ESPs can only test a small percentage of emails on a list, the quality of a marketer’s data remains unknown until campaigns are deployed. In attempt to protect deliverability, ESPs may require that marketers have list data cleaned prior to sending. </p>
<p>
<p>Once mail starts flowing, ESPs monitor bounces, complaints and opt-outs, and automatically unsubscribe these from individual lists. By removing these addresses, the sender reputation is protected from further damage. However, an email address that unsubscribes or bounces from one list cannot <i>usually</i>&nbsp; be automatically unsubscribed across all of the lists in a marketer’s account. It is up to the marketer to follow list maintenance best practices. Campaign statistics, such as clicks, opens, and unsubscribes, are important for monitoring subscriber engagement but do not provide insight into the ever changing deliverability of an email address. So how can an email marketer know when a list is falling out of compliance before being suspended? Currently, a sender receives very little warning (if any) before an account is suspended, and she is blocked from sending.</p>
<div style="background-color:white; color:black; margin:20px; padding:20px;"><i>
Prior to introducing a free email tier, MailChimp developed Omnivore to mitigate risks during the self-signup process. <a href="http://blog.mailchimp.com/project-omnivore-declassified/" target="blank">Omnivore</a> gathers information on subscribers and predicts bad behavior, allowing MailChimp's compliance team to proactively warn marketers when data starts falling out of compliance. Few ESPs have the ability to do this, leaving marketers in the dark when it comes to the quality of the data on their lists.</i></div>
<p>Email service providers “focus on maintaining subscriber information, bounce data, and unsubscribes as a way to maintain list health over the life of a campaign."<sup>1</sup>&nbsp; But when the subscriber data in a list becomes stale, many ESPs suspend the marketer’s ability to deploy email and recommend a list cleaning service, like DataValidation, to remove undeliverable email addresses. While it may not seem like a big deal on the surface, the email marketer and ESP experience an enormous amount of pain when an account is suspended. ESPs directly lose revenue in favor of maintaining deliverability. Email marketers, many who are bewildered as to why the email list data collected over several years needs “validation”, become impatient and decide to change email service providers. Thus, an unsuspecting ESP onboards the email marketer along with the dirty data that caused trouble in the first place.</p>
<p>
	<blockquote><i>Email marketers, many who are bewildered as to why the email list data collected over several years needs “validation”, become impatient and decide to change email service providers.</i></blockquote>
<p>In 2013, we began addressing points of friction experienced by email marketers and ESPs. We built integrations to MailChimp and Constant Contact, allowing email marketers to link an account to DataValidation, preview a deliverability report for each email list, and sync the cleaned email list back to the corresponding ESP. To prevent email marketers from getting blocked in the first place, we introduced Email Assurance for Email Marketers, which scans all email lists in an ESP account twice a day and automatically removes undeliverable email addresses. </p>
<p>
<p>In 2014, we began to focus on our mission of helping ESPs retain good senders. Most active email marketers will eventually run into list compliance issues, so why not empower the ESP to warn users in advance and rehabilitate when necessary? <p>
<p>
<p>We are proud to introduce <strong> Email Assurance Complete for Email Service Providers.</strong> Learn <a href="http://cdn.datavalidation.com/Email-Assurance-ESPs-Whitepaper-10_14.pdf" target="blank">how an ESP can use</a> Email Assurance throughout the lifecycle of an email marketer in our whitepaper.</p>
<p>
	<div class="center">
<a href="http://cdn.datavalidation.com/Email-Assurance-ESPs-Whitepaper-10_14.pdf" target="blank" class="btn btn-lg btn-info"> Download the Whitepaper</a>
</div>
<p>
	<br>
	<br>
<p>1.<a href="http://kb.mailchimp.com/accounts/compliance-tips/why-we-dont-clean-lists">http://kb.mailchimp.com/accounts/compliance-tips/why-we-dont-clean-lists</a></p>
<p>
<p>Image Credit:<a href="https://www.flickr.com/photos/762_photo/14036204887" target="blank">Captain Roger Fenton</a></p>
<br>