---
title: How do I update contact data before sending a campaign?
header: How do I update contact data before sending a campaign?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- Constant Contact
- Email Assurance 
- 
labels:
- Beta
- Custom fields
- Safe to Send
- Tags
- Contacts
abstract: |
  

---
<p>If you have a Constant Contact account that is linked to DataValidation, you have the option of having Email Assurance. Email Assurance is the ultimate list maintenance subscription, allowing you to monitor and remediate any Contacts automatically.</p><p>With Constant Contact, any additional data or information for Contacts (besides name, address, ect) must be stored a custom field. The only way to deploy campaigns to groups of Contacts, based on this custom data, is to create Tags.</p><p>Email Assurance runs once every day, pulling in any new Contact data you have manually added to your lists,and has been added due signup forms. Existing data within your account is also re-ran on a weekly basis. <strong>What this means is that if you've created Tags for 'Safe to Send', 'Accepts All', and 'Indeterminate' Contacts, you'll need to make sure these are refreshed each time you deploy a campaign!</strong></p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/202565799-How-do-I-create-custom-Tags-in-Constant-Contact-" target="_blank">How do I create custom Tags in Constant Contact?</a></p><p><strong>How to update Tags before sending a campaign:</strong></p><p>To update Tags before sending, you'll follow almost the same procedure as creatingthem. First, you'll need to do an 'Advanced Search' for 'Safe to Send' Contacts only. These are the only contacts we recommend sending mail to.</p><p><img src="http://cdn.datavalidation.com/200937619/CC_Contacts_AdvanceSearch.png"></p><p>'Safe to Send' Contacts are all those with A+ and A grades. Remember tosearch all Contacts (and not just those within a specific list). Also, all Email Assurance Grades are listed in the format: <strong>+dv_grade_A+</strong></p><p><img src="http://cdn.datavalidation.com/200937649/CC_Contacts_AdvanceSearch_2.png"></p><p>Once you hit 'Search' you'll be taken back to the main Contacts screen. Here, click the the top left check-box to select all Contacts listed as having Email Assurance Grades of A+ and A. Click on the 'Manage Tags' button that appears when you select all, and ensure that 'Safe to Send' has a check mark by it!</p><p><img src="http://cdn.datavalidation.com/200989645/CC_UpdateTags_1.png"></p><p><strong>This is very important!</strong> Doing this assures that the 'Safe to Send' Tag has been added to all new and updated contacts with A+ and A grades. Keep in mind, the status of an email can change on a daily basis. It is not unlikely that a Contactwith a grade of D (Indeterminate) can become an A or A+.</p><p>This is what makes Email Assurance so awesome!</p><p></p><p></p><p></p>
