---
title: How do I link a MailChimp account?
header: How do I link a MailChimp account?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>By logging into your account with DataValidation, you'll be taken to your Lists page. Click the "Upload Another List" button toLink a MailChimp account.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_LinkorUpload.png"></p><p>You will be asked to authorize your account and give DataValidation the right to pull in your data.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_LinkAccount.png"></p><p>By linking an account, you're giving DataValidation the permission to access all of your email lists from your MailChimp account for validation. (We will NOT use this information for anything besides your validation) Once your account is linked, all of your lists are pulled into DataValidation. Each list is validated and then you decide which you'd like to purchase.</p><p>When your lists are done validating, you will have the option to Purchase Validation OR Purchase Assurance. Once your list is purchased, the "Purchase Validation" button will change to a "Get Results" button.</p><p><img src="http://cdn.datavalidation.com/KB_ListUpdate_GetResults.png"></p><p><strong>Email Assurance</strong> isonly availablefor customer with Linked Accounts and is an ongoing monitoring service for your ESP Account, where we'll monitor changing deliverability data and optimization opportunities and send you information on how to improve your lists' performance.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201188886" target="_blank">What is Email Assurance?</a></p><p>When you "Upload Results" back to your MailChimp account, your updated list will contain all emails with an Email Assurance Grade of A+, A, B, and D. The only resultsnot includedare those with a grade of F (emails deemed as undeliverable) - these emails will be unsubscribed from your MailChimp list, but will remain within your list.</p><p>**PLEASE NOTE: Customers with linked accounts will need to segment the email list results after validation and uploading is complete. We only recommend sending to the 'Safe to Send' category (including emails with a grade of A+ and A only). More on segmentinghere.</p><p>Right now, only customers who have a MailChimp account can link an account to DataValidation and be eligible for Email Assurance. Want to request that we add your ESP? Email support@datavalidation.com</p>
