---
title: How are uploaded lists and linked accounts different?
header: How are uploaded lists and linked accounts different?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>When you sign up with DataValidation, you have the option of linking a MailChimp account or uploading a list (via .csv or .xls). To link an account, you must be a MailChimp customer.</p><p><strong>Customers with Linked Accounts:</strong></p><p>By logging into your account with DataValidation, you'll be taken to your Lists page. Here is where you can Link an Account. By linking an account, you're giving DataValidation the permission to access all of your email lists from your MailChimp account for validation. All of your lists are validated and then you decide which you'd like to purchase.</p><p>When your lists are done validating, you will have the option to Purchase Validation OR Purchase Assurance.Email Assurance isonly availablefor customer with Linked Accounts and is an ongoing monitoring service for your ESP Account, where we'll monitor changing deliverability data and optimization opportunities and send you information on how to improve your lists' performance.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201188886" target="_blank">What is Email Assurance?</a></p><p>When you "Upload Results" back to your MailChimp account, your updated list will contain all emails with an Email Assurance Grade of A+, A, B, and D. The only resultsnot includedare those with a grade of F (emails deemed as undeliverable) - these emails will be unsubscribed from your MailChimp list, but will remain within your list.</p><p>**PLEASE NOTE: Customers with linked accounts will need to segment the email list results after validation and uploading is complete. We only recommend sending to the 'Safe to Send' category (including emails with a grade of A+ and A only). More on segmentinghere.</p><p>The reason 'Indeterminate' and 'Accepts All' emails are included in your MailChimp upload is because of their ambiguous nature. With the Email Assurance subscription, we check daily for updated deliverability statuses and want to have the opportunity to update data on these emails. 'Undeliverable' emails (those with a grade of F) are unsubscribed from your list and not safe to send to. These emails are not updated with Email Assurance.</p><p>**Also Note: DO NOT purchase Email Assurance and then unlink an account.To monitor your account, we need to have connection with the ESP. If you un-link the account, we will loose connection and your lists will be deleted from our system.</p><p>Right now, only customers who have a MailChimp account can link an account to DataValidation and be eligible for Email Assurance. Want to request that we add your ESP? Email support@datavalidation.com</p><p><strong>Customers with Uploaded Lists:</strong></p><p>By logging into your account with DataValidation, you'll be taken to your Lists page. Here is where you can Upload a List. When you upload a list you'll be notified by email once it has finished validating.</p><p>When your lists are done validating, you will be able to "Purchase Validation". Email Validationis our one-time cleaning service, where we provide you an address-by-address analysis determining the deliverability of emails on your list. You have access to your Always Free Email Assurance Report before you buy - It's always free to know what Email Assurance Grades your list contains.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201574943" target="_blank">What is Email Validation?</a></p><p>After purchasing, you can access your DataValidation account and download your lists. You will have the option of downloading a 'Safe to Send' List or an'Everything' List. We adviseonly sendingto the 'Safe to Send'list (this list contains only emails with a grade of A+ or A). All emails in the 'Safe to Send' list have been deemed as deliverable and those with a grade of A+ also have confirmed engagement activity. Please see the rest of our Knowledge Base for details on your lists.</p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
