---
title: How does this service work?
header: How does this service work?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>If it's time to cleanup your lists, our self-service platform will analyze them and get you back in compliance. Don't let bad email data compromise the quality of your email marketing any longer.It's free to signup with DataValidation, all you have to do is create an account, no credit card or obligation necessary. Once you've signed up, you'll receive an email welcoming you to the family.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/sections/200335363-Getting-Started-FAQ" target="_blank">Getting Started FAQ</a></p><p>Our self-service platform allows you to Upload a List directly to our system or Link an Account if you are a MailChimp customer. Once your list has entered our system, it will start processing immediately. Generally, lists can take anywhere from an hour to a day to process; this process time depends on your list size and how busy our system is. If you are a MailChimp customer, and you have linked an account, this may take longer as our system will import every list back into your MailChimp account.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/categories/200100449-MailChimp-Users" target="_blank">DataValidation for MailChimp Customers</a></p><p>Once your list is finished analyzing, you'll receive another email informing you that your list is ready. From here, you can login to your DataValidation account to View List Details to access your Always Free Email Assurance Report. We recommend reading throughour Knowledge Base for insight into the information provided by your report.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/sections/200317538-Email-Assurance-Report-List-Results" target="_blank">Always Free Email Assurance Report</a></p><p>Your Always Free Email Assurance Report provides you with Email Assurance Grades and the number of emails within your list that fall into each grade category. These grades are determined based on the Deliverability Codes provided in your list's address-by-address analysis. This analysis is available in your downloadable 'Safe to Send' or 'Everything' lists AND in the appended data found in your MailChimp account after uploading results.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201572353-What-do-the-codes-in-my-Email-Assurance-Report-mean-" target="_blank">Understanding Your Email List Results</a></p><p>If you decide to have your email list cleaned, you'll have the option to Purchase Email Validation or Purchase Email Assurance. Email Validation is a one-time cleaning of your email list, providing you with downloadable options such as the 'Safe to Send' List and 'Everything' List. If you've linked a MailChimp account to our system, you'll also have the option to Upload Results. By uploading results, you're telling us it's okay to update your MailChimp account with appended deliverability data.</p><p>**Once you've downloaded your 'Safe to Send' List you're ready to send! If youuploaded your results back to MailChimp,you must segment your list before deploying a campaign!</p><p></p><p>Login to<a style="background-color: #ffffff;" href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a style="background-color: #ffffff;" href="http://datavalidation.com" target="_blank">DataValidation.com</a></p>
