---
title: How do you determine Email Assurance Grades? 
header: How do you determine Email Assurance Grades?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>The Always Free Email Assurance Report will provide you with Email Assurance Grades, depictingthe deliverability of emails within your list. The following grades are determined by the Deliverability Codes found in your Address-by-Address Analysis:</p><p><strong>Email Assurance Grades</strong></p><p><strong>A+</strong>Deliverable + Engagement Activity</p><p><strong>A</strong> Deliverable</p><p><strong>B</strong> Accepts-All</p><p><strong>D</strong>Indeterminate</p><p><strong>F</strong> Undeliverable</p><p>Email Assurance grades are determined using the Deliverability Codes found in your Address-by-Address Analysis:</p><p><strong>Deliverability Codes</strong></p><p><strong>DeliverabilityCodes</strong>are provided on a scale of 1-4, with 1 being least deliverable and 4 being most deliverable.</p><p><strong>Hard Bounces (H)</strong></p><p>Historical Hard Bounce information will be provided for each email address within your list. This information provides you insight by showing you which emails have a hard bounce historyand how many sources we've received this information from.</p><p><strong>Opt-Outs (O)</strong></p><p>Historical Opt-Outs determine the number of people on your email list that have a history of opting-out, or unsubscribing, from email lists. A subscribers opt-outhistory is based on their overall email history and can help in determining the likelihood of opting-out from your emails as well.</p><p><strong>Complainers (W)</strong></p><p>Complainers are people who have a history of reporting email as spam. A historical complainer code will indicate whether a given email address on your list has a history of complaining about email or not.</p><p><strong>Spam-Traps (T) and Deceased Individuals (D)</strong></p><p>We no longer include spam trap data and information on deceased individuals in determining our Email Assurance Grades (A+, A, B, D, F) - This information changes frequently and we cannot guarantee every instance to be accurate.This information will still be provided for each email in your Address-by-Address Analysis and can used for segmenting your list.</p><p><strong>HistoricalOpens (R)</strong></p><p>This is a measure of the historical level of engagement based on the amount of deliverable mail sent to an address. This is a historical reference, anddoes not determinehow likely one is toopenyour email.</p><p><strong>Historical Clicks (K)</strong></p><p>This is a measure of the historical level of engagement based on the amount of deliverable mail sent to an address. This is a historical reference, anddoes not determinehow likely one is toclickyour email.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201572353" target="_blank">What do the codes mean in my Email Assurance Report?</a></p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
