---
title: Once my list is processed, then what happens?
header: Once my list is processed, then what happens?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>Once a list has been uploaded and processed, you will receive an email informing you that is has finished.</p><p><img src="http://cdn.datavalidation.com/KB.ListProcess.Email.png"></p><p>You'll receive aseparate email for each listyou have uploaded and will be able to access your account to view your Always Free Email Assurance Report.At this time, you will have the opportunity to purchase your list.</p><p><img src="http://cdn.datavalidation.com/DV_NewCodes_EVText.png"></p><p>Once you purchase your list, you'll be able to download. The "Purchase Email Validation" button will change to a "Get Results" button.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_GetResults.png"></p><p>If you have a linked MailChimp account, you'll be ableto upload your list(Upload Results) back to MailChimp and have all the results updated and appended to your account. You can also download a 'Safe to Send' List and an 'Everything' List.</p><p><img src="http://cdn.datavalidation.com/DV_NewCodes_UploadResults2.png"></p><p>If you have simply uploaded a list to our system (via .csv or excel document) you'll only be prompted to download your validated list and will still get the twooptions for download.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_DownloadableLists.png"></p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
