---
title: Once a list syncs back to my ESP, what's next?
header: Once a list syncs back to my ESP, what's next?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>Once you've purchased Email Assurance or Email Assurance for a linked list, your data will automatically begin to sync back to your ESP account.</p><p>If you're a MailChimp customer, you'll need to create segments for your subscribers. If you're a Constant Contact customer, you'll need to create tags for your contacts.</p><p>Create segments or tags for the following:</p><ol><li>Safe to Send: Emails with grades of A+ and A</li><li>Accepts All: Emails with a grade of B</li><li>Indeterminate: Emails with a grade of D</li></ol><p>All emails with a grade of F will be unsubscribed (optional). Once your segments/tags have been created you are all set to send! We recommend that you deploy ONLY to the 'Safe to Send' email addresses. If you have the Email Assurance subscription, all new data will be analyzed daily, and existing data will be analyzed weekly.</p>
