---
title: Top MailChimp articles for DataValidation customers
header: Top MailChimp articles for DataValidation customers
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>First thing's first. As a MailChimp user and DataValidation customer we want you to be as educated as possible when it comes to the deliverability of your email lists. Glance at these best practices and compliance tips to get familiar with MailChimp's standards before getting started.</p><p><a href="http://kb.mailchimp.com/article/best-practices-for-lists/">Best Practices for Lists</a></p><p><a href="http://kb.mailchimp.com/article/compliance-tips/">General Compliance Tips</a></p><p>Start out by making sure your list is okay to use in MailChimp. You can view some common scenarios of list building to double check if your list is okay. The rule of thumb is to make sure youalwayshave permission to email the subscribers on your list. Use a double opt-in to ensure your subscribers want to receive your mail!</p><p><a href="http://kb.mailchimp.com/article/is-my-list-okay-to-use-in-mailchimp">Is my list okay to use in MailChimp?</a></p><p><a href="http://kb.mailchimp.com/article/ask-before-you-blast/">The importance of permission</a></p><p>If you want to be proactive, or you think you may risk getting flagged or suspended by MailChimp, you'll want to have your list cleaned of undeliverable emails. MailChimp doesn't do this for you, but luckily we've got you covered. We partner with MailChimp and hope to provide you with the most information possible about this process.</p><p><a href="http://kb.mailchimp.com/article/why-cant-i-use-mailchimp-to-clean-my-list">Why can't I use MailChimp to clean my list?</a></p><p>Once you've had a list cleaned, we will update your MailChimp account and append all delivery data, including Email Assurance Grades and Deliverability Codes, to your lists. We'll identify which emails are 'Safe to Send', 'Accepts-All', and 'Indeterminate'.</p><p>We recommend segmenting and deploying to the 'Safe to Send' emails only (with grades of A+ and A)to get the most out of your list. By having a list cleaned with DataValidation, you'resending to emails that have been verified as deliverable and do not have a history of bouncing, complaining, or being a spam-trap.</p><p><a href="http://kb.mailchimp.com/article/can-i-save-a-segment-of-my-list-in-the-list-area/">How can I save and use segments in my list?</a></p><p>Overtime your email list(s) have the potential of going stale. People change emails or start using new ones, pass away, and leave inboxes unattended to. The permission you asked for previously from all of your subscribers (through opt-in or double opt-in) goes stale, and this usually happens in only 3-6 months, causingyour list to be stale. This can happen even after having a list cleaned multiple times. This is why we offer the<strong>Email Assurance</strong>subscription specifically for MailChimp customers!</p><p><a href="http://kb.mailchimp.com/article/when-email-addresses-go-stale/">When email addresses go stale</a></p><p><a href="http://kb.mailchimp.com/article/about-list-suspension/">About List Suspension</a></p><p>Keep your MailChimp list(s) clean with ongoing list maintenance! With the Email Assurance subscription, we'll monitor your lists on an ongoing basis and update them regularly so that you're always Safe to Send!</p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
