---
title: What information is updated in my linked MailChimp account?
header: What information is updated in my linked MailChimp account?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- MailChimp
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>When you link a MailChimp account, all of your lists in this account will be imported to DataValidation for verification. You will be notified once these lists have finished analyzing, and will then be able to purchase any list in your account.After purchasing a list, you will need to "Upload Results" to get the cleaned information updated in your account.</p><p><strong>What's updated in your MailChimp account:</strong></p><p>When you upload list results, all of your original information will be re-imported in your MailChimp account. Allemail addresses will be updated in your list and indexed with Email Assurance Grades from your Email Assurance Report. Keep in mind, we attempt to create custom merge fields within your list in MailChimp to provide you with this analysis. Since you are only allowed 30 merge fields for addresses within your list, you'll need to make room for this analysis information. If you have too many merge fields, download your lists separately to have this information.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/200880719-How-do-I-add-edit-merge-fields-within-my-list-" target="_blank">How do I add or edit merge fields in MailChimp?</a></p><p>All undeliverable, invalid addresses will be unsubscribed from your purchased list (as these emails are unsafe to send to), but they will not be deleted from your MailChimp account. Invalid emails are given an Email Assurance Grade of F.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/200880959-What-information-is-updated-in-my-linked-MailChimp-account-" target="_blank">What information is updated in my account?</a></p><p>We do recommend segmenting addresses that are unknown, such as 'Indeterminate' emails and 'Accepts-all' emails.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/200879139-How-do-I-segment-a-list-in-my-MailChimp-account-" target="_blank">How do I segment a list in MailChimp?</a></p><p><strong>Watch the Video:</strong></p><p><iframe src="https://player.vimeo.com/video/96596392500281" frameborder="0" allowfullscreen=""></iframe></p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
