---
title: What happens if I combine cleaned lists in MailChimp?
header: What happens if I combine cleaned lists in MailChimp?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>If you've purchased Email Validation (the one-time email list cleaning) for two lists in a MailChimp account and you want to combine these lists there should be no problem! Both lists have been cleaned of undeliverable addresses, so you're able to combine the two of themand then segment the maybe'sto get the most out of these combine lists.</p><p>If you purchased Email Assurance (the monthly monitoring subscription) for your MailChimp account, then every list in this account is covered. You can combine lists, add groups, change segments, ect. Email Assurance runs twice everyday from 11-1am/pm and these lists will be updated during the assurance run!</p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
