---
title: What happens if I purchase a list, then unlink my account?
header: What happens if I purchase a list, then unlink my account?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>When you link a MailChimp account to DataValidation we create a connection with this account so that your email list data can be validated.<strong>DO NOT unlink your MailChimp account if you have connected it and purchased Email Validation for individual lists or Email Assurance for your entire account.</strong>If you unlink your account we will lose connection with MailChimp.</p><p><strong>Email Validation Customers:</strong></p><p>If you purchased Email Validation for a list in your linked MailChimp account and have then unlinked this account we will lose connection. You will then need to download the Yes Only or Yes + Maybe list and upload this .csv file to your MailChimp account in place of the old list. You can then re-link the account if you plan to validate this list again in the future or to validate other lists within your MailChimp account.</p><p><strong>Email Assurance Customers:</strong></p><p>If you purchased Email Assurance for your linked MailChimp account and have then unlinked this account we will lose connection. With Email Assurance, every list in your linked account is covered. Therefore, if you unlink this account every list will be disconnected from DataValidation. You will then need to re-link your MailChimp account through the DataValidation dashboard, have your lists re-validated, and contact Support at: support@datavalidation.com.</p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
