---
title: What is the cost of purchasing Email Assurance? 
header: What is the cost of purchasing Email Assurance?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>When you link an account to DataValidation, all of the lists from your ESP will be imported to our system. Your lists must be validated before you can purchase ongoing Email Assurance subscription.Monthly pricing is based on your list size (number of emails per list) and is billed monthly with no long-term commitments.</p><p>When you purchase <a href="https://datavalidation.zendesk.com/hc/en-us/articles/201188886-What-is-Email-Assurance-" target="_blank">Email Assurance</a>, you're paying for the initial validation of the list(s) within your MailChimp list and you'll receive one-month FREE of Email Assurance for your entire account (See pricing for validation <a href="https://datavalidation.zendesk.com/hc/en-us/articles/201188896-How-do-I-know-the-cost-of-validating-my-email-list-" target="_blank">here</a>). This free month lets you clean your email list of undeliverable emails and get back in compliance with MailChimp's standards by having time to deploy a few campaigns!</p><p><img src="http://cdn.datavalidation.com/200514693/Screen_Shot_2014-02-13_at_3.31.57_PM.png"></p><p>If you decide to purchase Email Assurance for your linked MailChimp account, you will be notified by email each month when it's time for your account to be charged.</p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
