---
title: What happens when I Upload Results to MailChimp?
header: What happens when I Upload Results to MailChimp?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>Once your list(s) have been imported and validated byDataValidation, we will notify you via email prompting you to upload results directly to MailChimp.</p><p>When you "Upload Results we'll update your email list information and create custommerge fieldsusing the detailed information from our service.</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201743753" target="_blank">What information is updated in my linked MailChimp account?</a></p><p><img src="http://cdn.datavalidation.com/DV_NewCode_MergeFields.png"></p><p>(For our customers who already use a large number of merge fields, this may not be possible. MailChimp limits users to 30 of these merge fields, so if you want the detailed information from your EmailAssurance Report, you'll need to download this separately)</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201140668" target="_blank">How do I add or edit fields in my lists?</a></p><p>When validated lists are uploaded directly to MailChimp, they contain emails with all Email Assurance Grades (A+, A, B, and D). The emails with an Email Assurance Grade of F are invalid, and are therefore unsubscribed from your MailChimp list.</p><p><strong>We do not recommend</strong>sending to the "Accepts-All" (B) category or the "Indeterminate" (D) category. If you want to keep these addresses, we recommendsegmenting your list!</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201574913" target="_blank">How do I segment maybe emails in MailChimp?</a></p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
