---
title: What data is synced back to my ESP?
header: What data is synced back to my ESP?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>When you purchase Email Assurance or Email Assurance for a linked list your data will be automatically synced back to your ESP account.</p><p><strong>MailChimp customers:</strong></p><p>MailChimp customers will have an Email Assurance Grade, and the deliverability data that makes up the grade, synced back to their account for each address in the linked list. The grade and deliverability data will be stored in merge fields. All F grades will be automatically unsubscribed from the list.</p><p>Use the grade data to <a href="https://datavalidation.zendesk.com/hc/en-us/articles/200880479-How-do-I-create-segments-in-MailChimp-" target="_blank">create segments</a> within your MailChimp account.</p><p>If you use a sign up form in MailChimp, make sure to <a href="https://datavalidation.zendesk.com/hc/en-us/articles/200880549-How-do-I-update-my-MailChimp-signup-form-after-validation-" target="_blank">update your form fields</a> after validation.</p><p><strong>Constant Contact customers:</strong></p><p>Constant Contact customers will have an Email Assurance Grade synced back to their account for each address in the linked list. The grade will be stored in a custom field.DataValidation will automatically store the grade in Custom Field 1, unless this field is already taken. To see which field we've stored Email Assurance Grades in, take a look at an individual contact. Each grade will be stored in the format of: +dv_grade_A+</p><p>Use the grade data to <a href="https://datavalidation.zendesk.com/hc/en-us/articles/202565799-How-do-I-create-custom-Tags-in-Constant-Contact-" target="_blank">create tags</a> within your Constant Contact account.</p>
