---
title: What does the Report Card tell me?
header: What does the Report Card tell me?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- Email Assurance
- 
-
labels:
- Report Card
- Beta
-
-
abstract: |
  

---
<p><strong>Report Cards</strong></p><p>Each list is given an Overall List Grade. This percentage is an overall average, based on the Email Assurance grades given to the addresses within your list. The front of each card will also tell you:</p><ul><li>Date the list was imported to Email Assurance</li><li>Number of subscribers in the list</li><li>ESP Account</li><li>ESP Account login</li><li>Whether a list has been purchased</li><li>How many days is left of your 30-day free trial</li><li>Whether a list is Assured/Not Assured</li></ul><p><img src="http://cdn.datavalidation.com/201022145/EA_LinkedLists_1.png"></p><p>By flipping a card over you can view the list's Report Card. A list's Report Card will tell you:</p><ul><li>The percentage of emails that have each Email Assurance grade</li><li>A description of each Email Assurance Grade</li><li>Date of the list's latest validation</li><li>Number of subscribers when the list was linked</li></ul>
