---
title: What does the Progress Report tell me?
header: What does the Progress Report tell me?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- Progress Report
- 
-
-
abstract: |
  

---
<p><strong>Progress Reports</strong></p><p>For each list in your Email Assurance account you will have a Report Card and a Progress Report.</p><p>In a list's Report Card, you can click on Progress Report to see the list's progress overtime. The Progress Report also tells you the Overall List Grade, number of subscribers in the list, date the list was imported to Email Assurance, and details on the linked ESP account.</p><p><img src="http://cdn.datavalidation.com/EA_ProgressReport_1.png"></p><p>By clicking on the first data point you can see what your list looked like at the time of import. You're able to also see in the Progress Report the percentage of emails that have each Email Assurance grade. Easily compare Weekly Checks and Daily Checks.</p><p>Email Assurance runs once a day, checking for any newly added data on a daily basis, and re-analyzing any existing data on a weekly basis. It's free to monitor your lists for as long as you like.</p><p>Purchase Email Assurance or Email Assurance to sync results back to your ESP account and get an address-by-address analysis for your lists.</p>
