---
title: What information is updated in my MailChimp account?
header: What information is updated in my MailChimp account?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>When you link a MailChimp account, all of the lists in your account will be imported for analysis. With a linked account, you can always take advantage of Free Email Assurance and monitor your lists on a daily basis. </p><p>If you purchase a One-Time Tune Up for a list, results will be automatically synced back to the ESP and you can continuously monitor your list's status. If you purchase Email Assurance for a list, list maintenance is on auto-pilot and your list will be analyzed and updated daily.</p><p>After making a purchase,results will be automatically synced back to your MailChimp account.</p><p><strong>What's updated in your MailChimp account:</strong></p><p>When lists are synced backall of your original information will be re-imported in your MailChimp account.Allemail addresses within your list will be updated and indexed with Email Assurance Grades from yourReport Card.</p><p>If you choose to unsubscribe all F grades we'll do that for you, but addresses will not be deleted from your MailChimp account. Invalid emails are given an Email Assurance Grade of F.</p><p><strong>Creating Segments:</strong></p><p>We recommend creating segments within your MailChimp account as soon as you purchase the first list. Create segments for 'Safe to Send', 'Accepts All', and Indeterminate' emails. (If you choose to keep addresses with F grades, create a 'Do Not Send' segment)</p><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/200879139-How-do-I-segment-a-list-in-my-MailChimp-account-" target="_blank">How do I segment a list in MailChimp?</a></p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
