---
title: Why is my MailChimp account not updating?
header: Why is my MailChimp account not updating?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p><strong>1. Make sure you have purchased your list from DataValidation</strong></p><p>After having a list analyzed you'll be able to purchase Email Assurance or Email Validation. Email Assurance is an ongoing subscription offered to customers with linked MailChimp accounts.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_GetResults2.png"></p><p><strong>2. Make sure you have Uploaded Results to MailChimp</strong></p><p>Once your list has processed, the Purchase Email validation button will change to a button that says "Get Results". From here you'll be able to "Upload Results" if you have a linked MailChimp account. You must push Upload Results for your MailChimp account to be updated.</p><p><img src="http://cdn.datavalidation.com/DV_NewCode_UploadResults.png"></p><p></p><p><strong>3. Make sure you do NOT have more than 30 merge fields set in MailChimp.</strong></p><p>MailChimp's merge fields are where all subscriber information is stored, such as email address, phone number, ect. When uploading your information back to MailChimp, we attempt to create custom merge fields for the information found in your Email Assurance Report. MailChimp limits you to 30 merge fields, so you'll want to make sure that you have room for DataValidation's information.</p><p>Edit your merge fields by accessing your list in your MailChimp Dashboard. Under the the "Settings" tab, click on List Fields and *|MERGE|* tags. Make sure you have less than 30 fields so that DataValidation can properly upload your information.</p><p><img src="http://cdn.datavalidation.com/KB_ListUpdate_MergeFields_1.png"></p><p><strong>4. Make sure none of your merge fields are set to "Required?"</strong></p><p>If any of your merge fields are set to be required, your MailChimp upload may not load correctly. If a field is set to be required, it means that every subscriber entering information must include this data - even DataValidation.</p><p><img src="http://cdn.datavalidation.com/KB_ListUpdate_MergeFields_2.png"></p><p></p><p>**If your list still is not uploading, please contact a Customer Support Advocate at support@datavalidation.com.</p>
