---
title: Why am I getting warnings from MailChimp?
header: Why am I getting warnings from MailChimp?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- MailChimp
-
labels:
- 
- 
- 
- 
abstract: |
  

---
<p>If you've received a warning message from MailChimp, there's something wrong or suspicious about one of your campaigns or lists. If you receive warnings repeatedly on your account, it will be suspended. That's where we come in.</p><p>If you've only gotten one or two warnings, find out How to Stay in Compliance with MailChimp to make sure this doesn't keep happening.</p><p><strong>Bounce Warnings:</strong></p><p>If you're receiving a Bounce Warning, it's because your bounce rate is higher than industry thresholds, or higher than normal, on a particular send. MailChimp aims to warn you of this behavior before suspending your account.Consistently exceeding the bounce threshold is concerning, and means that you are not reaching your audience due to invalid email addresses.</p><p><strong>Unsubscribe Warnings:</strong></p><p>If you're receiving an Unsubscribe Warning, it's because some of your subscribers no longer want to receive your campaigns. Warnings mean that you have a high unsubscribe rate, which are dangerous to your email reputation and deliverability.A rising unsubscribe rate will lead to account suspension.</p><p>If you're getting warnings from MailChimp, it's a sign that you need to have your list cleaned. Get rid of unwanted emails that are undeliverable and have a history of bouncing, complaining, and opting-out of emails lists.</p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
