---
title: Why is my MailChimp account under review?
header: Why is my MailChimp account under review?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>When you sign up for an account at MailChimp, you're constantly monitored for any signs of abuse. When MailChimp sees things that need explaining on your end, or investigating on their end, your account may be flagged and the review team might take some time to check things out. For a list of Red Flags view this MailChimp article:http://kb.mailchimp.com/article/why-was-my-account-suspended/</p><p><strong>Here are the things you can do to speed up the review process by MailChimp:</strong></p><ol><li>Make sure your account is compliant with MailChimp's<a href="http://mailchimp.com/legal/terms/">Terms of Use</a>.</li><li>Set up a list and a campaign that includes real content that you actually plan on sending to your list.<strong>MailChimpcan't begin the review process until a campaign and list are in place.</strong></li><li>Check to see that you have a good Permission Reminder in place for all lists in your account. You'll find the Permission Reminder underLists &gt; settings &gt; required email footer content. Need some help? Here are some pointers on<a href="http://www.mailchimp.com/blog/what-makes-a-good-permission-reminder/">What Makes a Good Permission Reminder</a>.</li><li>Include a valid postal address in any campaigns you plan on sending through us. A postal address is<a href="http://kb.mailchimp.com/article/what-is-required-to-meet-your-terms-of-use-and-the-can-spam-act">required by the Federal Can-Spam Act</a>, so MailChimp has to make sure you include it.</li></ol><p><a href="https://datavalidation.zendesk.com/hc/en-us/articles/201907598-Why-is-my-MailChimp-account-suspended-" target="_blank">Why is my MailChimp account suspended?</a></p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
