---
title: Why can't my ESP clean my email list?
header: Why can't my ESP clean my email list?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>Most email service providers are used to design and send emails, manage your subscribers, and track your campaign's performance. Their tools help marketers focus on maintaining subscriber information, bounce data, and unsubscribes. But, if you want to have an email list cleaned, you'll most likely have to use anotherservice.</p><p>Any customer of DataValidation (regardless of what email service provider used) can have <strong>Email Assurance</strong>. Email Assurance allows you to import email lists and monitor them for no cost. If a list needs to cleaned up, or it looks like the data is starting to degrade, you can remediate the list immediately. You have the ability to track the status of your listsand determine when remediation is necessary.</p><p>DataValidation also works very closely with ESPs. If you use MailChimp or Constant Contact, you have the ability to link an account and monitor every list within your account for free! Customers with linked accounts have the ability to purchase <strong>Email Assurance</strong>. With Email Assurance, all lists within your MailChimp or Constant Contact account are analyzed on a daily basis and updated automatically; there's no need to continuously clean lists.</p><p></p>
