---
title: Why is my MailChimp account suspended?
header: Why is my MailChimp account suspended?
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>If you tried to log in to your MailChimp account, but got an<strong>Account Suspended</strong>message, it's most likely because you've done something to set off a red flag.</p><p><strong>What causes a Red Flag in MailChimp?</strong></p><ul><li>Account information that is too fake or anonymous for comfort. Like signing up as "John Doe" from "Nowhere, USA". Unless you are John Doe from the band X.</li><li>You signed up with an email account that's free. While this isn't a show stopper, signing up with a free webmail account combined with another issue could be a problem.</li><li>Your most recent campaign received spam complaints</li><li>Your most recent campaign looked "spammy" and we're trying to prevent spam complaints</li><li>You appear to be "cold calling" or sending to prospects who never gave you permission.</li><li>Your website doesn't have an opt-in process anywhere. We're definitely going to need to know where you got the list.</li><li>Your most recent campaign violates our<a href="http://mailchimp.com/legal/terms/">Terms of Use</a>in some way.</li><li>Your most recent campaign contains unacceptable content or something offensive.</li><li>Something else looks too risky for our comfort and we've gotta check it out.</li></ul><p>Making sure your email list is compliance is something we at DataValidation.com can help you with! For best results, have your list cleaned BEFORE you upload to MailChimp. If you get flagged we're to help!</p><p><strong>More information on Suspended Accounts:</strong></p><p>MailChimp:<a href="http://kb.mailchimp.com/article/why-was-my-account-suspended/" target="_blank">Why Was My Account Suspended?</a></p><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
