---
title: Why does MailChimp require me to reconfirm B and D results? 
header: Why does MailChimp require me to reconfirm B and D results? 
meta-image: 
meta-type: kb
meta-description: 
posted: 2014-mm-dd
kb-entry: true
image: 
author: DataValidation
categories:
- 
- 
-
labels:
- 
- 
-
-
abstract: |
  

---
<p>If you are a MailChimp customer that has recently cleaned a list, you may have been asked to send a "Reconfirm Campaign" to emails containing B and D Email Assurance grades.</p><p><strong>What is a Reconfirm Campaign?</strong></p><p>A reconfirm campaign is an email in which you ask subscribers to re-optin, and reconfirm that you have permission to email them. MailChimp requires this for any subscribers that have not been mailed to in 6 months, as well as for B and D Email Assurance grades.<a href="http://kb.mailchimp.com/article/reconfirm-your-list" target="_blank">How to Reconfirm a List</a>as a MailChimp user.</p><p><strong>I just got my list cleaned. Why do I need to reconfirm?!</strong></p><p>MailChimp is one of the more stringent email service providers when it comes to compliance, which is why they have some of the best deliverability in the email marketing industry. A high rate of complaints, opt-outs, or bounces will affect MailChimp's overall ability to get your mail in your subscribers' inboxes. While some email service providers will let you deploy email to A+, A, B, and D results, MailChimp only allows you to send mail to A+ and A results, and requires a reconfirm campaign to protect their reputation with ISPs.</p><p>Unfortunately, you cannot use MailChimp to send the reconfirm campaign (<a href="http://kb.mailchimp.com/article/stay-compliant-with-casl/" target="_blank">unless it is for CASL compliance</a>.) MailChimp instructs you deploy this campaign through another ESP.</p><p><strong>Is there another way to proceed without sending a reconfirm campaign?</strong></p><p>MailChimp has told our support team that this is the only way to ensure MailChimp senders maintain an optimal reputation. If you have certain email addresses that you know are active, and you have mailed to them in the past 2 weeks, you can create a manual segment with these emails and slowly trickle those emails into your campaigns. You can also sign up for <a href="http://reconfirm.io" target="_blank">Reconfirm.io</a> (currently in private beta) to send your reconfirm campaign.</p><p><strong>What's the difference between a reconfirm campaign and reengagement campaign?</strong></p><p>Before deploying a reconfirm campaign, the subscribers are removed from your Master mailing list. These subscribers are only added back on your list if they re-optin. A reconfirm campaign is a basic opt-in form and is designed to renew permissions from subscribers that have not been deployed email in 6+ months, as well as B and D Email Assurance grades.</p><p>A reengagement campaign is designed for inactive subscribers on an active, clean email list. Subscribers that have not opened or clicked in the past 3-5 months are segmented and emailed. While there are many approaches to reengagement campaigns, the goal is to get the subscriber to engage with the email. This is a best practice used by email marketers to give subscribers options to re-engage prior to pruning them from a list. If a subscriber doesn't engage with a reengagement campaign, they should not be regularly mailed as it negatively affects your sender reputation.</p><p></p><p><strong>For more on reengagement campaigns:</strong></p><ul><li><a href="http://www.datavalidation.com/blog/if-you-love-your-subscribers-let-them-go-1.html" target="_blank">If You Love Your Subscribers, Let Them Go [Part 1]</a></li><li><a href="http://www.datavalidation.com/blog/if-you-love-your-subscribers-let-them-go-2.html" target="_blank">If You Love Your Subscribers, Let Them Go [Part 2]</a></li></ul><p><strong>For more on reconfirm campaigns:</strong></p><ul><li><a href="http://kb.mailchimp.com/article/reconfirm-your-list" target="_blank">How to Reconfirm My List</a></li><li><a href="http://kb.mailchimp.com/article/when-email-addresses-go-stale/" target="_blank">When Email Addresses Go Stale</a></li><li><a href="http://reconfirm.io" target="_blank">Reconfirm.io</a></li></ul><p></p><p>Login to<a href="http://datavalidation.com/login" target="_blank">My Account</a>| Goto<a href="http://datavalidation.com/" target="_blank">DataValidation.com</a></p>
